{% extends 'common/base.html' %}

{% block content %}

<div>
    <form action="{% url 'playlist:playlist_making' %}" method="POST">{% csrf_token %}
        <input type="text" name="title">
        <button type="submit">Make PlayList</button>
    </form>
</div>

<div>
    <ul>
        {% for playlist in playlists %}
        <li>
            <a href="">{{ playlist.playlist.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <!--<div>-->
        <!--{% if playlists.has_previous %}-->
            <!--<a href="?page={{ playlists.previous_page_number }}">Prev</a>-->
        <!--{% endif %}-->

        <!--<span>-->
            <!--Page {{ playlists.number }} or {{ playlists.paginator.num_pages }}-->
        <!--</span>-->

        <!--{% if playlists.has_next %}-->
            <!--<a href="?page={{ playlists.next_page_number }}">Next</a>-->
        <!--{% endif %}-->
    <!--</div>-->
</div>

{% endblock %}